.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  border-radius: 4px;
  background-color: #1878dc;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.form__button:hover {
  background-color: #3f96f3;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 12px;
}
