.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff url(../images/background_menu.svg) no-repeat center/cover;
  margin-bottom: 100px;
  margin-top: 100px;

}

.menu__title {
  max-width: 780px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 24px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
}

.menu__cards {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 20px;
}

